<h1>employees</h1>
<table class="table table-striped table-bordered table-responsive table-hover">
<thead>
  <tr>
    <th>name</th>
    <th>operate</th>
  </tr>
</thead>
<tbody>
<% @employees.each do |s| %>
  <tr>
    <td><%= s.name %></td>
    <td><%= link_to 'delete', employee_path(s), method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= paginate @employees %>
<%= link_to 'New', new_employee_path, class: 'btn btn-default' %>
<script type="text/javascript">$("#employee").addClass("active")</script>