<%= form_for(@comment) do |f| %>
  <div>
    <%= f.label :info %><br>
    <%= f.text_field :info, class: 'form-control', placeholder: 'Text', type: 'text' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>